<div class="d-flex flex-column bg-pending p-4 h-100">
  <div class="p-2 d-flex flex-column">
    <label class="fs-6 fw-medium">Add Items</label>
    <label class="text-secondary fs-md">12 Sep, 2020</label>
  </div>
  <form class="d-grid col-6">
    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Workplace Name</label>
      <input type="text" class="form-control p-2 fs-md" [placeholder]="'Workplace name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Creation Date</label>
      <input type="text" class="form-control p-2 fs-md" [placeholder]="'Workplace name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Overview</label>
      <textarea type="number" class="form-control p-2 fs-md" [placeholder]="'company name'"></textarea>
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Location</label>
      <input type="number" class="form-control p-2 fs-md" [placeholder]="'company name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Website</label>
      <input type="number" class="form-control p-2 fs-md" [placeholder]="'company name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Email</label>
      <input type="number" class="form-control p-2 fs-md" [placeholder]="'company name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Phone Number</label>
      <input type="number" class="form-control p-2 fs-md" [placeholder]="'company name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Industry</label>
      <input type="number" class="form-control p-2 fs-md" [placeholder]="'company name'">
    </mat-form-field>

    <mat-form-field class="fs-md">
      <label class="fw-medium mb-1">Specialties</label>
      <input type="number" class="form-control p-2 fs-md" [placeholder]="'company name'">
    </mat-form-field>

    <form>
      <mat-form-field class="fs-md">
        <label class="fw-medium mb-1">Department Name</label>
        <input type="number" class="form-control p-2 fs-md" [placeholder]="'department name'">
      </mat-form-field>
    </form>


  </form>
</div>
