<div class="d-flex flex-row align-items-center justify-content-between">
  <div class="d-flex flex-row align-items-center px-9-px py-8-px">
    <label class="fs-12-px fw-medium">TO DO</label>
    <label class="text-gray-1 fs-10-px fw-medium">(3)</label>
  </div>
  <div class="d-flex flex-row align-items-center text-gray-1">
    <label>IC</label>
    <label>IC</label>
  </div>
</div>

<div class="d-flex flex-column bg-purple-4 br-top-1px br-purple-1 rounded-bottom-15-px px-9-px py-15-px gap-10-px">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
