<div class="d-flex align-items-center justify-content-between bg-white px-30-px py-15-px">
  <div class="d-flex align-items-center justify-content-between gap-40-px fs-16-px">
    <label class="fw-semibold">Dashboard</label>
    <label class="text-gray-2">Advanced Quarry</label>
    <label class="text-gray-2">Events</label>
    <div class="bg-gray-1 width-2-px height-40-px"></div>
    <label class="text-gray-2">SR</label>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between">
      <label>Dashboard</label>
      <label>Img</label>
    </div>
    <label>lang</label>
  </div>
</div>
