<!--<div class="container w-100 mw-100 h-100">-->
<!--  <div class="row h-100">-->
<!--    <div class="col-auto d-flex flex-column align-items-center bg-secondary shadow py-4">-->
<!--      <div class="d-flex align-items-center border border-2 bg-warning-subtle rounded-circle overflow-hidden" style="width: 4rem; height: 4rem">-->
<!--          <img class="h-100 w-100" src="./assets/icons/bhsjbjhac.jfif">-->
<!--       </div>-->
<!--      <label class="text-white fs-md my-2">Yaqeen Sys</label>-->
<!--        <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--          <i class="bi bi-bell text-white fs-6"></i>-->
<!--        </div>-->

<!--      <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--        <i class="bi bi-bag-dash text-white fs-6"></i>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--        <i class="bi bi-bank text-white fs-6"></i>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--        <i class="bi bi-chat-dots text-white fs-6"></i>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--        <i class="bi bi-clipboard-data text-white fs-6"></i>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--        <i class="bi bi-diagram-3 text-white fs-6"></i>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center justify-content-center  py-4 w-100">-->
<!--        <i class="bi bi-lightning text-white fs-6"></i>-->
<!--      </div>-->

<!--      <div class="d-flex align-items-center justify-content-center py-4 w-100">-->
<!--        <i class="bi bi-people text-white fs-6"></i>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="d-flex h-100 gap-3-px bg-purple-4">
  <div class="d-flex flex-column align-items-center bg-right-menu shadow px-2 py-4">
    <div class="d-flex align-items-center border border-2 bg-dark rounded-circle p-2 text-white">
      YQ
    </div>
    <div class="d-flex align-items-center justify-content-center  py-4 w-100">
      <i class="bi bi-bell text-white fs-6"></i>
    </div>
    <div class="d-flex align-items-center justify-content-center  py-4 w-100">
      <i class="bi bi-chat-dots text-white fs-6"></i>
    </div>
    <div class="d-flex align-items-center justify-content-center  py-4 w-100">
      <i class="bi bi-clipboard-data text-white fs-6"></i>
    </div>
    <div class="d-flex align-items-center justify-content-center  py-4 w-100">
      <i class="bi bi-diagram-3 text-white fs-6"></i>
    </div>
    <div class="d-flex align-items-center justify-content-center  py-4 w-100">
      <i class="bi bi-lightning text-white fs-6"></i>
    </div>

    <div class="d-flex align-items-center justify-content-center py-4 w-100">
      <i class="bi bi-people text-white fs-6"></i>
    </div>
  </div>
<!--  <app-nav-bar class="h-100"></app-nav-bar>-->
  <div class="mw-100 w-100 h-100 d-flex flex-column gap-3-px">
<!--    <app-header-bar></app-header-bar>-->
<!--    <app-tasks></app-tasks>-->
    <app-orders class="h-100"></app-orders>
  </div>
</div>
